<p id="who">
  <strong>Who:</strong>
  The course is aimed at GWU graduate students, faculty, and other researchers. Advanced undergraduates are also welcome. (Affiliates of CTSI are also invited.)
  <strong>
    You don't need to have any previous knowledge of the tools
    that will be presented at the workshop.
  </strong>
  If you are not affiliated with GWU, please check the <a href="https://carpentries.org/upcoming_workshops/">list of upcoming Carpentries workshops</a> to find one
  that may be open to you.
</p>
